@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
body{
	background:#efefef;
	background-size:100%;
	background-attachment:fixed;
}

.indhd
{
	width:100%;
	height:40px;
}

#pdt{
	padding-top:40px;
}

#pdt2{
	padding-top:90px;
}

.jbpd{
	padding-left:0px !important;
	padding-right:0px !important;
}

#trans{
	background:transparent;
	color:#fff;
}

#hdp{
	font-size:3em;
	text-transform:uppercase;
	font-family:bebas-neue;
}

#hdp1{
	font-size:1.3em;
}

#mgt{
	margin-top:80px;
}

.loginkt{
	margin:auto;
	background:#fff; 	
	border-radius:5px;
	overflow:hidden;
	width:340px;
}

.loginhd{
	width:340px !important;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow:hidden;
	background:#2e8ece;
	width:50px;
	font-family:lato;
	text-transform:uppercase;
	padding:15px;
	text-align:center;
}

.form-data{
	width:340px;
	overflow:hidden;
	padding:10px;
	padding-top:15px;
}

.login-f{
	width:320px;
}

.btn-l{
	width:320px;
}

.buttons{
	width:320px;
	border:1px solid #DD1535;
	padding:10px;
	background:#DD1535;
	transition:all 0.1s ease-out;
	box-shadow:0px 3px 0px #8D0017;
	font-family:bebas-neue;
	font-size:1.2em;
}

.buttons:hover{
	box-shadow:0px 3px 0px #fff;
}

.judl{
	width:100%;
	padding-top:50px;
	margin:40px auto;
}

#bgrw{
	background:#fff;
	border-radius:5px;
	padding:10px;
}

.jdhd{
	font-family:'bebas-neue',arial,helvetica,sans-serif;
	margin:0px;
	color:#fff;
}

#clrjd{
	color:#fff;
}

#cntr{
	text-align:center;
}

.aktipc{
	background:rgba(0, 228, 91, 0.39) !important;
}